/*--------------------General Styling--------------------*/

body {
    background-color: #F3F3F3;
    color: #707070;
    min-height: 100vh;
    font-family: Rockwell;
    margin: 0;
}

a {
    text-decoration: none;
    color: #707070;
}

header {
    text-align: center;
}

h1, h2, h3, h6 {
    font-family: Perpetua;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 18px;
}

h3, h6 {
    margin: 0;
}

h6 {
    letter-spacing: 0;
}

ul {
    padding: 0;
}

.btn {
    cursor: pointer;
}
.hidden {
    display: none;
}
/*-------------------Start Screen------------------------*/
#start-screen {
    height: 100vh;
}

#showcase-start {
    padding: 100px 70px;
}

#showcase-title {
    margin: 0;
}


#showcase-start h6 {
    margin-bottom: 100px;
}

/*-------------------Home Screen------------------------*/
#home-screen {
    height: 100vh;
}

header p {
    font-size: 13px;
}

#home-title {
    margin-bottom: 0;
}

#return-btn {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    padding-top: 5px;
    display: none;
}

#return-btn p {
    width: 80px;
    border: none;
    font-family: Rockwell;
}

.push-down-75 {
    padding-top: 75px;
}

.btn-container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.home-btn {
    text-decoration: underline;
    padding: 10px;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.social-link {
    font-size: 2em;
    padding: 25px 15px;
}


/*-------------------------Intro Page-------------------*/
#intro-nav {
    padding: 10px;
    font-size: 20px;
}

#intro-header {
    font-size: 36px;
}

.content-container {
    text-align: center;
    padding: 10px;
}


/*-------------------------Content Pages-------------------*/


.chapter-header {
    margin: 25px;
    border: 1px solid #707070;
}

.chapter-header h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.ig-navbar {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    font-size: 20px;
}

.ig-navbar h2 {
    align-self: flex-start;
}

.ig-navbar a {
    align-self: center;
}

.text-section {
    margin:10px;
    padding-bottom: 25px;
    
    
}



.choice-display {
    margin: 20px 0 30px 0;
}

.choice-display {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: 0px 10px 5px 10px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
}

.choice-btn {
    border: 0;
    background: 0;
    margin: 10px;
    padding: 0;
}

.choice-hidden {
    display: none;
    border-top: 1px solid #707070;
}


/*----------------Modal---------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);;

    animation-name: modalopen;
    animation-duration: 1s;
}

.close-btn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.close-btn:hover, .close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@keyframes modalopen {
    from {opacity: 0;}
    to {opacity: 1;}
}



@media (min-width: 1025) {


/*------------------- Desktop Screen------------------------*/

#showcase-header {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#showcase-start {
    border: 1px solid #707070;
    padding: 70px;
    align-self: center;
    -webkit-box-shadow: 1px 1px 7px 4px rgba(112, 112, 112, 1);
    -moz-box-shadow: 1px 1px 7px 4px rgba(112, 112, 112, 1);
    box-shadow: 1px 1px 7px 4px rgba(112, 112, 112, 1);
}

#showcase-title {
    margin: 0;
}

}